$main-light-text-color: #000;
$white-text-color: #fff;
$modal-caption-text-color: #8c8c8c;

$main-accent-color: #ff6b01;
$main-hovered-accent-color: #f75f07;
$secondary-accent-color: #ff001b;
$pagination-btn-color: #ff6b08;

$main-bg-color: #fff;
$secondary-bg-color: #f7f7f7;
$header-bg-color: rgba(0, 0, 0, 0.56);
$backdrop-bg-color: #f7f7f730;

$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
