<footer class="footer">
  <div class="container footer__container">
    <span class="footer__top">&#169; 2022 | All Rights Reserved |&nbsp;</span>
    <div class="footer__bottom">
      <span>Developed with</span>
      <svg width="14" height="13" class="icon-heart">
        <use href="./images/svg/sprite.svg#heart"></use>
      </svg>
      <span>by</span>
      <button
        type="button"
        aria-label="открывает модальное окно со списком разработчиков"
        class="footer__link js-open-team-modal"
      >
        GoIT Students
      </button>
    </div>
  </div>
  <div class="scroll-to-top">
    <div class="btn-scroll btn-style">
      <svg width="24" height="24" class="icon-arrow">
        <use href="./images/svg/sprite.svg#arrow"></use>
      </svg>
    </div>
  </div>
</footer>
