<header class="header-library header">
  <div class="container home">
    <div class="main-header">
      <a href="./index.html" class="logo link">
        <svg class="icon-home" width="24" height="24">
          <use href="./images/svg/sprite.svg#logo"></use>
        </svg>
        <span class="logo-span">Filmoteka</span>
      </a>
  
      <nav class="nav">
        <ul class="nav-home list">
          <li class="nav-home__item">
            <a href="./index.html" class="nav-home__link link">Home</a>
          </li>
          <li class="nav-home__item">
            <a href="./my-library.html" class="nav-home__link link current">My library</a>
          </li>
        </ul>
      </nav>
    </div>
  <ul class="btn">
          <li class="btn-list"><button id="watched" class="button" type="submit">Watched</button></li>
          <li class="btn-list"><button id="queue" class="button" type="submit">queue</button></li>
        </ul>  
</header>
