<header class="header-library header">
  <div class="container">
    <nav class="nav">
      <a class="nav_logo">
        <svg>
          <use href="./images/svg/sprite.svg#logo"></use>
        </svg>
    </a>
      <ul class="site-nav">
        <li class="site-nav__list">
          <a href="./index.html" class="link">Home</a>
        </li>
        <li class="site-nav__list">
          <a href="./my-library.html" class="link current">My library</a>
        </li>
      </ul>
      <ul class="btn">
        <li><button class="button" type="">Watched</button></li>
        <li><button class="button" type="">queue</button></li>
      </ul>  
    </nav>
  </div>
</header>
