<header class="header-home" data-header>
  <div class="container home">
    <div class="main-header">
      <a href="./index.html" class="logo link">
        <svg class="icon-home" width="24" height="24">
          <use href="./images/svg/sprite.svg#logo"></use>
        </svg>
        <span class="logo-span">Filmoteka</span>
      </a>

      <nav class="nav">
        <ul class="nav-home list">
          <li class="nav-home__item">
            <a href="./index.html" class="nav-home__link link current">Home</a>
          </li>
          <li class="nav-home__item">
            <a href="./my-library.html" class="nav-home__link link">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <form class="form" id="search-form">
      <input type="text" placeholder="Movie search" class="input-home" id="search" name="search" autofocus
        autocomplete="off" />
      <p class="text-error"></p>
      <button type="submit" class="form-button" aria-label="button search">
        <svg class="icon-input" width="12" height="12">
          <use href="/src/images/svg/sprite.svg#search"></use>
        </svg>
      </button>
    </form>


  </div>
</header>