<div data-modal class="backdrop">
    <div class="modal">
        <button data-modal-close class="btn__close">
            <svg width="14" height="14">
                <use href="./images/svg/sprite.svg#close"></use>
            </svg>
        </button>
        <img class="modal__image" src="./images/header/home/home-desk.jpg" alt="" />
        <p class="modal__title">Название фильма</p>
        <table class="modal-table">
            <tr>
                <td class="modal-table__title">Vote / Votes</td>
                <td>1</td>
    
            </tr>
            <tr>
                <td class="modal-table__title">Popularity</td>
                <td>2</td>
            </tr>
            <tr>
                <td class="modal-table__title">Original Title</td>
                <td>3</td>
            </tr>
            <tr>
                <td class="modal-table__title">Genre</td>
                <td>4</td>
            </tr>
        </table>
    
        <p class="modal-about modal-about__upper">About</p>
        <p class="modal-about modal-about__container">Содержание</p>
        <ul class="btn">
            <li><button class="button btn__add">add to Watched</button></li>
            <li><button class="button btn__add">add to queue</button></li>
        </ul>
    </div>
</div>
