<div data-modal class="backdrop">
  <div class="modal modal-film-js">
    <button data-modal-close class="btn__close">
      <svg width="14" height="14">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal_info"></div>
    <!-- <ul class="btn btn-flex">
      <li>
        <button class="button btn__add btn__add-watched">add to watched</button>
      </li>
      <li>
        <button class="button btn__add btn-queue-js">add to queue</button>
      </li>
    </ul> -->
  </div>
</div>
<div class="backdrop-trailer is-hidden" id="trailer-modal-wrapper">
  <div class="trailer-modal-wrapper" id="trailer-modal"></div>
</div>
