<div data-modal class="backdrop">
  <div class="modal modal-film-js">
    <button data-modal-close class="btn__close">
      <svg width="14" height="14">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>
    <div class="modal_info"></div>
    <!-- <img class="modal__image" src="./images/header/home/home-desk.jpg" alt="" />
        <div>
            <p class="modal__title">Название фильма</p>
            <table class="modal-table">
                <tr>
                    <td class="modal-table__title">Vote / Votes</td>
                    <td>1</td>
            
                </tr>
                <tr>
                    <td class="modal-table__title">Popularity</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td class="modal-table__title">Original Title</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td class="modal-table__title">Genre</td>
                    <td>4</td>
                </tr>
            </table>
            
            <p class="modal-about modal-about__upper">About</p>
            <p class="modal-about modal-about__container">Содержание. Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how? Four of the West’s most infamous outlaws assemble to steal a huge stash of gold from the most corrupt settlement of the
            gold rush towns. But not all goes to plan one is killed and the other three escapes with bags of gold hide out in the
            abandoned gold mine where they happen across another gang of three – who themselves were planning to hit the very same
            bank! As tensions rise, things go from bad to worse as they realise the bags of gold are filled with lead... they’ve
            been double crossed – but by who and how?</p>
            
        </div> -->
    <ul class="btn btn-flex">
      <li>
        <button class="button btn__add btn__add-watched">add to Watched</button>
      </li>
      <li>
        <button class="button btn__add btn-queue-js">add to queue</button>
      </li>
    </ul>
  </div>
</div>
