<div class="overlay js-overlay is-hidden__team">
  <div class="modal-team is-hidden__team">
    <button data-team-close class="btn__close">
      <svg width="14" height="14">
        <use href="./images/svg/sprite.svg#close"></use>
      </svg>
    </button>

    <h2 class="team-heading">Our Team</h2>
    <ul class="team-members">
      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/denis.jpg"
            alt="Kyzym_Denis"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Kyzym Denis</p>
          <p class="team-members__positions">Team Lead</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/anna.jpg"
            alt="Potapova_Anna"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Potapova Anna</p>
          <p class="team-members__positions">Scrum Master</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/julia.jpg"
            alt="Kyzym_Julia"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Kyzym Julia</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/bogdan.jpg"
            alt="Makohoniuk_Bogdan"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Makohoniuk Bohdan</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/Babkin_Ruslan.jpg"
            alt="Babkin_Ruslan"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Babkin Ruslan</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/vjacheslav.jpg"
            alt="Tykhovlis_Viacheslav"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Tykhovlis Viacheslav</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/nikolay.jpg"
            alt="Leso_Nick"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Leso Nick</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/oksana.jpg"
            alt="Konieva_Oksana"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">Konieva Oksana</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>

      <li class="team-members__item">
        <div class="team-members__img">
          <img
            class="team__img"
            src="./images/team/andrij.jpg"
            alt="lytsenko_Andrij"
            loading="lazy"
            width="124"
            height="140"
          />
        </div>
        <div class="team-members__text">
          <p class="team-members__name">lytsenko Andrij</p>
          <p class="team-members__positions">Developer</p>
        </div>
      </li>
    </ul>
  </div>
</div>
