.header-home {
  // margin: 0 auto;
  // max-width: 1280px;

  width: 100vw;
  z-index: 11;

  padding-top: 40px;
  padding-bottom: 92px;

  background-image: url('/src/images/header/home/home-mob.jpg');
  background-image: url('/src/images/header/home/home-mob.webp');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  transition: transform 500ms $transition-function;

  @media screen and (min-width: 768px) {
    padding-bottom: 81px;
  }

  &.is-fixed {
    padding-bottom: 0;
    position: fixed;
    transform: translateY(-25px);
  }
}

@media screen and (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-home {
    background-image: url('/src/images/header/home/home-mob@2x.jpg');
    background-image: url('/src/images/header/home/home-mob@2x.webp');
  }
}

@media (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .header-home {
    background-image: url('/src/images/header/home/home-mob@3x.jpg');
    background-image: url('/src/images/header/home/home-mob@3x.webp');
  }
}

@media (min-width: 768px) {
  .header-home {
    background-image: url('/src/images/header/home/home-tab.jpg');
    background-image: url('/src/images/header/home/home-tab.webp');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-tab@2x.jpg');
      background-image: url('/src/images/header/home/home-tab@2x.webp');
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-tab@3x.jpg');
      background-image: url('/src/images/header/home/home-tab@3x.webp');
    }
  }
}

@media (min-width: 1280px) {
  .header-home {
    background-image: url('/src/images/header/home/home-desk.jpg');
    background-image: url('/src/images/header/home/home-desk.webp');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-desk@2x.jpg');
      background-image: url('/src/images/header/home/home-desk@2x.webp');
    }
  }

  @media (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-desk@3x.jpg');
      background-image: url('/src/images/header/home/home-desk@3x.webp');
    }
  }
}

.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 54px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.logo-span {
  font-size: 30px;
  line-height: 1.16;

  margin-left: 8px;

  color: $white-text-color;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.icon-home {
  stroke: $white-text-color;
}

.nav {
  margin-left: auto;
}

.nav-home {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.6;

  &__item {
    & + & {
      margin-left: 40px;
    }
    transform: scale(1);
    transition: transform $transition-timing $transition-function;

    &:hover,
    &:focus {
      transform: scale(1.2);
    }
  }

  &__link {
    color: $white-text-color;
    transition: color $transition-timing $transition-function;

    &:hover,
    &:focus {
      color: $secondary-accent-color;
    }
  }
}

.current {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -3px;

    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $secondary-accent-color;
  }
}

.form {
  position: relative;
  margin: 0 auto;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 394px;
  }

  transition: transform 500ms $transition-function;

  .header-home.is-fixed & {
    transform: translateY(-40px);
    @media screen and (max-width: 767px) {
      transform: translateY(-40px);
    }
  }
}

.input-home {
  position: relative;
  height: 20px;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 0.5px solid $white-text-color;
  background-color: transparent;

  cursor: text;

  font-weight: 400;
  font-size: 14px;

  color: $white-text-color;

  &::placeholder {
    color: $white-text-color;
  }

  &:hover,
  &:focus {
    border-color: $main-hovered-accent-color;
  }

  transition: border-color $transition-timing $transition-function;
}

.form-button {
  position: absolute;
  right: 0;

  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  stroke: $white-text-color;
  transform: scale(1);

  &:hover,
  &:focus {
    stroke: $main-hovered-accent-color;
    transform: scale(1.2);
  }

  transition: stroke $transition-timing $transition-function;
  transition: transform $transition-timing $transition-function;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-error {
  position: absolute;
  top: 40px;
  left: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;

  color: $secondary-accent-color;
}
