.header-home {
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 92px;

  background-image: url('/src/images/header/home/home-mob.jpg');

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 769px) {
    padding-bottom: 80px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .header-home {
    background-image: url('/src/images/header/home/home-mob@2x.jpg');
  }
}

@media (min-width: 321px) {
  .header-home {
    background-image: url('/src/images/header/home/home-tab.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-tab@2x.jpg');
    }
  }
}

@media (min-width: 769px) {
  .header-home {
    background-image: url('/src/images/header/home/home-desk.jpg');
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .header-home {
      background-image: url('/src/images/header/home/home-desk@2x.jpg');
    }
  }
}

.main-header {
  display: flex;
  align-items: center;
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 40px;
  }
}

.logo-span {
  font-size: 30px;
  line-height: 1.16;

  margin-left: 8px;

  color: $white-text-color;

  @media screen and (max-width: 768px) {
    display: none;
  }
}

.icon-home {
  stroke: $white-text-color;
}

.nav {
  margin-left: auto;
}

.nav-home {
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 1.6;

  &__item + &__item {
    margin-left: 40px;
  }

  &__link {
    color: $white-text-color;

    &:hover,
    &:focus {
      color: $secondary-accent-color;
    }

    transition: color $transition-timing $transition-function;
  }
}

.current {
  position: relative;

  &::after {
    position: absolute;
    left: 0;
    bottom: -3px;

    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: $secondary-accent-color;
  }
}

.form {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 280px;

  @media screen and (min-width: 768px) {
    max-width: 336px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 394px;
  }
}

.input-home {
  position: relative;
  height: 20px;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  border-bottom: 0.5px solid $white-text-color;
  background-color: transparent;

  cursor: text;

  font-weight: 400;
  font-size: 14px;

  color: $white-text-color;

  &::placeholder {
    color: $white-text-color;
  }

  &:hover {
    border-color: $main-hovered-accent-color;
  }

  transition: border-color $transition-timing $transition-function;
}

.form-button {
  position: absolute;
  bottom: 0;
  right: 0;

  width: 18px;
  height: 18px;
  background-color: transparent;
  border: none;
  stroke: $white-text-color;

  &:hover,
  &:focus {
    stroke: $main-hovered-accent-color;
  }

  transition: stroke $transition-timing $transition-function;
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
