.section-main.main-container {
  margin: 0 auto;
  width: 320px;
  @media screen and (min-width: 768px) {
    width: 768px;
  }
  @media screen and (min-width: 1280px) {
    width: 1280px;
  }
}

.section-main__bcg {
  background-image: url(../images/autumn-leaves.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  padding: 20px;
  @media screen and (min-width: 768px) {
    padding: 60px 32px;
  }
}

.film-notification {
  text-align: center;
  font-size: 20px;
  line-height: 1.16;

  color: $main-hovered-accent-color;
}

.film-container {
  // width: 280px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    // margin: -16px;
    gap: 32px;
  }

  @media screen and (min-width: 1280px) {
    gap: 16px;
  }
}

.film__card {
  text-decoration: none;
  display: block;
  transition: transform 0.7s;
  position: relative;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  cursor: pointer;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
    transform: scale(1.02);
  }
}

.film__card + .film__card {
  @media screen and (max-width: 767px) {
    margin-top: 20px;
  }
}

.film-card__image {
  display: block;
  max-width: 100%;
  height: auto;
  width: 280px;
  height: 402px;
  border-radius: 5px;

  @media screen and (min-width: 768px) {
    width: 336px;
    height: 455px;
  }

  @media screen and (min-width: 1280px) {
    width: 394px;
    height: 574px;
  }
}

.film-card__features-wrap {
  padding-top: 12px;
  width: 280px;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}

.film-card__title {
  color: $main-light-text-color;
  font-weight: 500;
  text-transform: uppercase;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
.film-card__visibility {
  visibility: hidden;
}
.film-card__rating {
  width: 36px;
  height: 16px;
  background: $main-accent-color;
  border-radius: 5px;
  color: $white-text-color;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 1.16;
  margin-left: 4px;
  font-size: 12px;

  @media screen and (min-width: 1280px) {
    width: 40px;
    height: 20px;
  }
}

.film-card__features {
  color: #ff6b08;
  display: inline;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.film-card__features-mark {
  color: #ff6b08;
  display: inline;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

.film-card__date {
  color: #ff6b08;
  display: inline-block;
  // margin-left: 3px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}
// .film-card__tech-wrap {
// display: inline-flex;
// align-items: flex-end;
// }
// p {
//   display: inline;
// }
.container-lib {
  padding: 20px;
}
.please-choose__img {
  background-image: url(../images/cat.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: block;
  width: 450px;
  height: 250px;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 440px;
  }
}

.please-choose__text {
  font-size: 14px;
  text-align: center;
  margin-bottom: 8px;
  color: $secondary-accent-color;

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}

.elem-isHidden {
  display: none;
}

.please-choose {
  display: flex;
  // flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.please-choose__empty {
  flex-direction: column;
}
