.modal {
  width: 280px;
  max-height: 940px;
  background: $main-bg-color;
  padding-top: 48px;
  padding-bottom: 40px;
  padding-left: 20px;
  padding-right: 20px;

  @media screen and (min-width: 768px) {
    display: flex;
    width: 704px;
    height: 552px;
    padding-top: 40px;
    padding-left: 36px;
    padding-right: 72px;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  @media screen and (min-width: 1280px) {
    width: 806px;
    height: 558px;
    padding-left: 12px;
    padding-right: 12px;
  }

  z-index: 1;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translate(-50%, 0);

  &__image {
    width: 240px;
    height: 357px;
    margin-left: auto;
    margin-right: auto;

    border-radius: 5px;

    @media screen and (min-width: 768px) {
      width: 264px;
      height: 373.55px;
      margin-right: 68px;
    }

    @media screen and (min-width: 1280px) {
      width: 375px;
      height: 478px;
      margin-right: 16px;
    }
  }

  &__title {
    font-size: 20px;
    line-height: 1.15;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;

    color: $main-light-text-color;

    @media screen and (min-width: 768px) {
      margin-top: 0px;
      font-size: 20px;
      line-height: 1.15;
      text-align: left;
    }

    @media screen and (min-width: 1280px) {
      font-size: 30px;
      line-height: 1.17;
    }
  }
}

.backdrop.is-hidden {
  visibility: visible;
  // opacity: 0;
  // pointer-events: none;
}

.backdrop {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

// .modal {
//     z-index: 1;
//     position: absolute;
//     top: 50%;
//     left: 50%;
//     transform: translate(-50%, -50%);
//     width: 450px;
//     height: 609px;
//     background-color: var(--primary-bg-color);
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 4px;
//     opacity: 1;
//     visibility: visible;
//     display: flex;
//     justify-content: flex-end;
// }

.modal-about {
  line-height: 1.67;
  color: $main-light-text-color;

  &__container {
    width: 240px;
    max-height: 236px;
    margin-bottom: 20px;
    overflow: auto;
    // overflow-y: scroll;

    @media screen and (min-width: 768px) {
      width: 264px;
      // height: 236px;
    }

    @media screen and (min-width: 1280px) {
      width: 391px;
      max-height: 184px;
    }
  }
  &__upper {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 8px;
  }
}

.btn__close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  background: $main-bg-color;
  border: none;
}

.btn__add {
  width: 110px;
  border: 1px solid $main-light-text-color;
  padding-right: 12px;
  padding-left: 12px;

  background: $main-bg-color;
  color: $main-light-text-color;

  align-items: center;
  text-align: center;

  @media screen and (min-width: 768px) {
    width: 125.03px;
    padding-right: 9px;
    padding-left: 9px;
  }

  @media screen and (min-width: 1280px) {
    width: 136px;
  }

  &-watched {
    @media screen and (min-width: 1280px) {
      margin-left: 8px;
      margin-right: 15px;
    }
  }

  &:hover,
  &:focus {
    color: $white-text-color;
    border: 1px solid $main-accent-color;
    box-shadow: 0px 2px 4px rgba(255, 107, 1, 0.6);
  }
}
.btn-flex {
  justify-content: space-between;

  @media screen and (min-width: 1280px) {
    justify-content: flex-start;
  }
}

.modal-table {
  width: 215px;
  height: 88px;

  &__title {
    color: $modal-caption-text-color;
  }
}
