.pagination {
  @media screen and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  padding-bottom: 60px;
}

.tui-pagination {
  list-style: none;
  max-width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.tui-pagination-isHidden {
  display: none;
}

.tui-page-btn {
  text-decoration: none;
  color: currentColor;

  padding: 13px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $main-light-text-color;

  border-radius: 5px;

  transition: all $transition-timing $transition-function;

  cursor: pointer;

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: rgba(255, 107, 8, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px $white-text-color;
  }
}

.tui-is-selected {
  text-decoration: none;
  color: currentColor;
  padding: 13px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-align: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  color: $white-text-color;

  background-color: $pagination-btn-color;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px #ffffff;

  cursor: default;

  &:hover,
  &:focus {
    background-color: $pagination-btn-color;
    border-radius: 5px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px #ffffff;
  }
}

.tui-prev {
  order: -1;
  padding: 12px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../images/svg/arrows-pagination/arrow-left-pag.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: $secondary-bg-color;
  border-radius: 5px;

  cursor: pointer;

  transition: all $transition-timing $transition-function;

  &:hover,
  &:focus {
    background-color: rgba(255, 107, 8, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px $white-text-color;
    color: #ffffff;
    background-image: url(../images/svg/arrows-pagination/arrow-left-pag-hovered.svg);
  }
}

.tui-next {
  order: 1;
  padding: 12px;
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(../images/svg/arrows-pagination/arrow-right-pag.svg);
  background-repeat: no-repeat;
  background-position: center;

  background-color: $secondary-bg-color;
  border-radius: 5px;

  cursor: pointer;

  transition: all $transition-timing $transition-function;

  &:hover,
  &:focus {
    background-color: rgba(255, 107, 8, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1), -2px -2px 5px $white-text-color;
    color: #ffffff;
    background-image: url(../images/svg/arrows-pagination/arrow-right-pag-hovered.svg);
  }
}

.tui-first,
.tui-last {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.tui-ico-prev,
.tui-ico-next {
  color: transparent;
}

.custom-class-last,
.custom-class-first,
.tui-next-is-ellip.tui-last-child,
.tui-prev-is-ellip.tui-first-child {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline;
  }
}

.material-icons-outlined-left {
  font-family: 'Material Icons';
  font-size: 16px;
  line-height: 1;
}
