@keyframes movebtn {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0px);
  }
}

.scroll-to-top {
  position: relative;
}

.btn-scroll {
  position: fixed;
  bottom: 40px;
  right: 25px;
  z-index: 20;

  background-color: $main-accent-color;
  fill: $main-bg-color;

  border-radius: 50%;
  height: 50px;
  width: 50px;

  cursor: pointer;
  animation: movebtn 5s ease-in-out infinite;
  transition: all 0.5s ease-in-out;

  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;

  &:hover {
    animation: none;
    fill: $main-light-text-color;
  }
}
