.overlay {
  position: fixed;
  //   visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 10;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.is-hidden__team {
  visibility: hidden;
  // transition: visibility 2500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link {
  border: none;
  background: transparent;
  &:hover,
  &:focus {
    color: $main-hovered-accent-color;
    scale: 1.05;
    transition: scale 300ms cubic-bezier(0.4, 0, 0.2, 1);
    // transform: rotateZ(-30deg);
    // transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1),
    //   scale 300ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}
@keyframes swing {
  15% {
    transform: translateX(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(3px);
  }
  65% {
    transform: translateX(-3px);
  }
  80% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.logo:hover,
.logo:focus {
  animation: swing 1.5s ease;
  animation-iteration-count: 1;

  // transform: rotateZ(-20deg);
  // transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-team {
  width: 280px;
  max-height: 100vh;
  background: $main-bg-color;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%);
  padding: 16px;
  overflow: auto;
  border-radius: 40px;
  opacity: 1;
  z-index: 101;
  box-shadow: 5px 5px 11px -2px #000;
  @media screen and (min-width: 768px) {
    width: 718px;
  }
}

.team-heading {
  font-size: 20px;
  text-align: center;
  color: $main-accent-color;
}

.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 12px;
}
.team-members__img {
  width: 124px;
  height: 140px;
  margin-bottom: 6px;
}
.team__img {
  width: 124px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 11px -2px #000;
}

.team-members__text {
  text-align: center;

  width: 124px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.team-members__name {
  font-size: 13px;
}
.team-members__positions {
  color: $main-accent-color;
}
